.background {
  background-color:black;
}

.logo {
    background-image: url(flowcast.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.progressBar {
  background-color: #50E3C2;
}

.splash {
  background-image: url(flowcast.svg);
}

.watermark {
  background-image: url(flowcast.svg);
  background-size: 57px 57px;
}
